header .header-top{
    background-color: rgb(46, 0, 0);
}
.header-content .row{
    position: relative;
}
.header-content .row .menu{
    background-color: #4c4c4c;
    width: 90%;
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    /* margin: auto; */
}
.menu .menu-content{
    width: 120px;
}

#header{
    background-image: url(../IMAGES/finder.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    opacity: 1;
    background-blend-mode:lighten;
    height: 400px;
}
.text-light{
    color: #fff;

    font-size: 30px;

}
#header{
    margin-bottom: 100px;
}
#section-2 img{
    margin-left: -40px;
    margin-right: 40px;
}
#section-2  .container-2 a{
    border-radius: 05px;
    background-color: rgb(214, 51, 51);
    margin: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
   

}
#section-2 .container-2 a:hover{
    /* background-color: rgb(132, 135, 138); */
    color: rgb(214, 51, 5);
}
#section-2 .aside{
    margin-bottom: 90px;
}
#section-2 .p p{
    text-decoration: none;
   
    background-color: rgb(240, 248, 255);
}
#section-2 .container-2{
    text-decoration: none;
    
}
#section-2 .container-2:hover{
    color: rgb(173, 33, 33);
}
#section-2 .o{
    color: #000;
}
#section-2 .o h2:hover{
    color: rgb(173, 33, 33);
}
/* #section-2 .o{
    margin-bottom: 150px;
} */
.m{
    text-decoration: none;
    color: #000;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.container-2 a{
    background-color: rgb(214, 51, 51);
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
   
    position: sticky;
}

.container-2 a:hover{
    /* background-color: rgb(132, 135, 138); */
    color: rgb(214, 51, 5);
    
}
.nav-work a{
    color: #000;
    text-decoration: none;
   
    list-style: none;

}
.nav-work a:hover{
    /* background-color: rgb(132, 135, 138); */
    color: rgba(196, 60, 60, 0.985);
}
.google a{
    color: #000;
    text-decoration: none;
   
    font-family: Baskerville, serif;

}
.google a h2:hover{
    /* background-color: rgb(132, 135, 138); */
    color: rgb(214, 51, 5);
}
.edit-text{
    text-decoration: none;
   



}
.edit-text:hover{
    color: rgb(173, 33, 33);
}
.images-edite{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    list-style: none;
    text-decoration: none;
   

}
.svg a{
    color: #000;
    text-decoration: none;
   
    list-style: none;

}
.bttn :hover{
    background-color: rgb(173, 33, 33);
}

.nav-work button{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: white;
    list-style: none;
}
.nav-work button:hover{
    background-color: rgb(173, 33, 33);
    color: white;

}

.images-edite a img{
    list-style: none;

}
.nav-scan button{
    border: white;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    


}
.nav-scan button :hover{
     background-color: rgb(173, 33, 33);
     color: #fff;
     text-decoration: none;
     list-style: none;
     text-decoration: none;
     
     
}
.svg li{
    float: left;
    font-size: 14px;
    list-style: none;
    display: list-item;
    text-align: webkit-match-parent;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 40px;
    /* margin-left: 30px; */
}
.edit-text{
    text-decoration: none;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    

    
}



/* homepage
.home{
    background-image: url(../IMAGES/homebackground.jpg.webp);
    max-height: 100vh;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.btn{
    margin-top: 20px;
}
.home .btn{
    width: 250px;
}
.home .btn, .home p{
    margin-left: 30%;
}
.home-text{
    margin-left: 10px;
}
.home-text p, .home-text .btn{
    margin-left: 0;
}
.home-text .btn{
    width: 170px;
    font-size: 15px;
}
.home-text .btn:hover{
    background-color: #FF6F00 in !important;
}
.home-text h1{
    font-size: 40px;
    font-family: "Baskervville",serif;
}
 */



/* footer  */
footer{
    background: #2D0000;
}
/* footer .footer-top{
    box-shadow: 0px 20px 30px rgba(0,0,0,0.06);
    padding: 20px 36px 10px 50px;
    background: #EFE2E2;
    z-index: 1;
    bottom: 80%;
    max-width: 300px;
    margin: auto;
} */
.footer-bottom-1 img{
    margin-top: 50px;
}
.footer-bottom .footer-bottom-1 nav ul{
    list-style: none;
}
.footer-bottom .footer-bottom-1 nav li a{
    color: white;
    text-decoration: none;
}
.footer-bottom .footer-bottom-1 nav li a:hover{
    color: #FF6F00;
}
footer .footer-bottom-2 .line{
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 18px 0;
}
.footer-bottom-2 .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 65%;
}
.footer-bottom-3 svg{
    color: #FF6F00;
}
.footer-bottom-3{
    color: #AC9191;
}
.footer-bottom-3 a{
    color: tomato;
    text-decoration: none;
}

@media only screen and (min-width : 320px) {
    .home-text h1{
        font-size: 28px;
    }
    .home-text p{
        font-size: 15px;
    }
    
}


@media only screen and (min-width: 425px) {
    .footer-bottom-2 .content{
        flex-direction: row;
        width: 100%;
    }
    .content .btn{
        width: 50%;
        /* padding-top: 0; */
    }
}
@media only screen and (min-width : 768px){
    /* header  */
    .header-top{
        background-color: #2D0000;
    }
    .row .btn{
        margin-top: 0;
    }
    .home .menu{
        top: 0px !important;
    }


    /* home page  */
    .home .menu{
        width: 90%;
        top: 20px;
    }
    .home-text p, .home-text .btn{
        /* margin-left: 0; */
        margin-top: 40px;
    }
    .home-text h1{
        font-size: 60px;
        margin-top: 20%;
    }
    .home-text p{
        font-size: 25px;
    }
    .home-text .btn{
        font-size: 20px;
        width: 250px;
    }
    .content .btn{
        width: 25%;
    }
}

@media only screen and (min-width : 1024px) {
    .header-content .top .add{
        display: none !important;
    }
    .header-content .top .bar{
        display: flex !important;
    }
    .header-content .top .bar ul{
        list-style: none;
    }
    .header-content .top .bar ul li a{
        color: black;
        text-decoration: none;
    }
    .home-text h1{
        font-size: 70px;
        margin-top: 20%;
    }
    .home-text p{
        font-size: 30px;
    }
    .footer-bottom .footer-bottom-2 .content .call{
        display: block !important;
    }
}


@media only screen and (min-width: 1440px) {
    .header-content .top .add{
        display: inline !important;
    }
}